<div class="authform">
  <h3>Editar Usuario</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <label>Nombre</label>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p>Dejar en blanco si no busca cambiar su clave.</p>
      <div class="form-group">
        <label>Clave</label>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Confirmar clave</label>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>Debe ingresar su clave actual para realizar cambios.</p>
      <div class="form-group">
        <label>Clave actual</label>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'Actualizar', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3>Cancelar Cuenta</h3>
<p>¿No está contento? </br>
Estaremos tristes de que nos deje.</p>
<%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Está seguro?" }, :method => :delete, :class => 'button right' %>
</div>
