= simple_form_for(@product_model) do |f|
  -# = f.error_notification
  = render 'layouts/error_messages', :target => f.object

  .row
    .col-md-6
      .form-inputs
        = f.input :name
        = f.input :active

      .form-actions
        - object = t f.object.class.name.downcase
        = f.button :submit, "#{f.object.new_record? ? "Crear #{object}" : "Actualizar #{object}"}"
