%h2 Detalle de su pedido

%table.table.table-striped.cart-items-table
  %tr
    %th Producto
    %th Categoría
    %th Cantidad
    %th Subtotal
  - @order.line_items.each do |line|
    %tr
      %td
        .row
          .col-md-3
            = link_to product_product_user_path line.product_id, line.product_user_id do
              = image_tag line.product.try(:image).try(:thumb)
          .col-md-9
            %h4= line.name
            %p= truncate "#{line.product_user.company_name} - #{line.product_user.user_name}"
      %td
        .text= line.product.try(:category)
      %td
        .text= line.quantity
      %td
        .text= number_to_currency line.total_price
  %tr
    %td{:colspan=>2}
      %th.text
        %b TOTAL
    %td.text
      %b= number_to_currency @order.total
