.panel.panel-default
  .panel-heading
    %h3.panel-title= @user.name
  .panel-body
    %p
      %b Email:
      #{@user.email if @user.email}
    #mis-ordenes
    = link_to 'Editar cuenta', edit_user_path, :class=>"btn btn-default"
.panel.panel-default
  .panel-heading
    %h3.panel-title Mis ordenes
  .panel.panel-body
    - if @user.orders.present?
      = render 'orders/index', :orders => @user.orders
    - else
      No tiene ordenes.
.panel.panel-default
  .panel-heading
    %h3.panel-title Contacto
  .panel.panel-body
    - if @user.contacts.present?
      = render 'contacts/index', :contacts=>@user.contacts
    - else
      No se ha contactado con nosotros.
