#carousel-example-generic.carousel.slide{"data-ride"=>"carousel"}
  .carousel-inner
    - Banner.all.each_with_index do |banner, i|
      .item{class: "#{"active" if i == 0}"}
        = link_to banner.link do
          = image_tag banner.image.detail
  %a.left.carousel-control{href: "#carousel-example-generic", "data-slide"=> "prev"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{href: "#carousel-example-generic", "data-slide"=> "next"}
    %span.glyphicon.glyphicon-chevron-right
%hr
.row
  .col-md-3
    = render 'shared/categories_nav', :categories => @categories, :title=>"Categorías"
    = render 'shared/categories_nav', :categories => @product_models, :title=>"Modelos"

  .col-md-9
    - if @products.present?
      - @products.in_groups_of(3, false) do |products|
        .row
          - products.each do |product|
            .col-md-4
              = render product
    - else
      .alert.alert-warning
        No hay productos disponibles que coincidan con lo que busca.
      .row
        .col-md-5
          = link_to "Buscar productos disponibles", root_path, :class=>"btn btn-primary"
