= simple_form_for(@order) do |f|
  = render 'layouts/error_messages', :target => f.object

  .row
    .col-md-12
      .col-md-4
        %h3 Facturación
        %hr
        .form-inputs
          = f.input :user_id, :as=>:hidden, :input_html=>{:value=> current_user.id}
          = f.input :email, :as=>:hidden, :input_html=>{:value=> current_user.email}
          = f.input :proof_type, collection: Order::PROOF_TYPE,
            include_blank: '- Escoger comprobante -', label: 'Tipo de comprobante',
            :input_html=>{:class=>"input-large"}, :selected=>@order.proof_type
          .control-group
            #proof_type{:class=>"#{"hidden" unless @order.proof_type.present?}"}
              %label#proof_type_label
                %abbr{:title=>"obligatorio"} *
                DNI
              = f.input :document_number, :label => false
          = f.input :name, label: "Nombres"
          = f.input :last_name, label: "Apellidos"
          = f.input :address,
            :label => "Dirección"
          -# = f.input :special_id
          -# = f.input :subtotal
          -# = f.input :discount

      .col-md-4
        %h3 Método de pago
        %hr
        .form-inputs
          -# = f.input :payment_type, :as=> :radio_buttons, :collection => Order::PAYMENT_TYPES
          .control-group.required
            .controls
              %h4 Depósito
              = content_tag :label, class: "radio" do
                = f.radio_button :payment_type, Order::PAYMENT_TYPES[0][1], :class=>"required radio_buttons"
                .text-muted Transferencia o Depósito bancario
              %hr
              %h4 Pago Contra entrega
              = content_tag :label, class: "radio" do
                = f.radio_button :payment_type, Order::PAYMENT_TYPES[1][1]
                .text-muted Disponible sólo para pedidos menores a S/.500
        %h3 Envío
        %hr
        .form-inputs
          .control-group.required
            .controls
              = f.input :destination_type, collection: Order::DESTINATION_TYPE,
                include_blank: '- Envío a -', label: 'Enviar a',
                :input_html=>{:class=>"input-large"}
              = f.input :shipping_address
              = f.input :contact_phone
      .col-md-4
        %h3 Resúmen de la orden
        %hr
        %table.table.table-striped
          %tr
            %th Producto
            %th Cantidad
            %th Subtotal
          - @cart.items.each do |item|
            %tr
              %td= item.product.name
              %td= item.quantity
              %td= number_to_currency item.total_price
          %tr
            %th{:colspan=>"2"} Subtotal
            %td= number_to_currency @cart.total_price
          %tr
            %th{:colspan=>"2"} Total
            %td= number_to_currency @cart.total_price

        %p#order_terms_and_conditions
          = content_tag :label, class: 'check_box' do
            = f.check_box :terms_of_service
            Acepto los
            = link_to '/pages/1', class: ''  do
              Términos y Condiciones
              %i.icon-external-link

        .form-actions
          = f.button :submit, "Pagar Ahora", :class=>"btn btn-block btn-success"
