%h1 Listing orders

%table.table.table-striped
  %tr
    %th User
    %th Name
    %th Email
    %th Address
    %th Document number
    %th Payment type
    %th Special
    %th Subtotal
    %th Discount
    %th

  - @orders.each do |order|
    %tr
      %td= order.user_id
      %td= order.name
      %td= order.email
      %td= order.address
      %td= order.document_number
      %td= order.payment_type
      %td= order.special_id
      %td= order.subtotal
      %td= order.discount
      %td= show_tool order
      %td= delete_tool order
      -# %td= usel_tools(order)
%br

= new_tool Order
