%h1 Detalle del pedido
%hr
.row
  .col-md-6
    %table.table.table-bordered
      %tr
        %th Usuario
        %td
          = @order.user.name
          = "(Id: #{@order.user_id})"
      %tr
        %th Email
        %td= @order.user.email
      %tr
        %th Fecha
        %td= @order.created_at
  .col-md-6
    %table.table.table-bordered
      %tr
        %th Dirección
        %td= @order.address
      %tr
        %th Número de documento
        %td= @order.document_number
      %tr
        %th Medio de Pago
        %td= Order::PAYMENT_TYPES.detect{|k| k[1] == @order.payment_type}[0]
%br
.row
  .col-md-12
    = render 'summary'

%br
= edit_tool @order
= list_tool Order
