= simple_form_for(@page) do |f|
  -# = f.error_notification
  = render 'layouts/error_messages', :target => f.object

  .form-inputs
    = f.input :title
    = f.input :content, :as => :ckeditor

  .form-actions
    = f.button :submit
