= simple_form_for(@contact) do |f|
  = render 'layouts/error_messages', :target => f.object
  .row
    .col-md-6
      .form-inputs
        = f.input :name
        = f.input :email
        = f.input :document_number
        = f.input :phone
        = f.input :contact_type, :as=> :radio_buttons, :collection => Contact::CONTACT_TYPE
        = f.input :description
        = f.input :own_design
        = f.input :user_id, :as=>:hidden, :input_html=>{:value=> current_user.id}

      .form-actions
        - object = t f.object.class.name.downcase
        = f.button :submit, "#{f.object.new_record? ? "Crear #{object}" : "Actualizar #{object}"}"
