%p#notice= notice

%p
  %b Name:
  = @contact.name
%p
  %b Email:
  = @contact.email
%p
  %b Document number:
  = @contact.document_number
%p
  %b Phone:
  = @contact.phone
%p
  %b Type contact:
  = @contact.type_contact
%p
  %b Description:
  = @contact.description
%p
  %b User:
  = @contact.user_id

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
