%p
  %b Nombre:
  = @contact.name
%p
  %b Email:
  = @contact.email
%p
  %b Número de documento:
  = @contact.document_number
%p
  %b Teléfono:
  = @contact.phone
%p
  %b Tipo de contacto:
  = Contact::CONTACT_TYPE.detect{|k| k[1] == @contact.contact_type.to_i}[0]
%p
  %b Descripción:
  = @contact.description
%p
  %b Usuario:
  = @contact.user

= edit_tool @contact
= list_tool Contact
