= simple_form_for([@product, @product_user], :html=>{:id=>"product_user_form"}) do |f|
  = render 'layouts/error_messages', :target => f.object

  .row
    .col-md-4
      .form-inputs.drop-labels
        = f.input :product_id, :input_html => {:value => @product.id}, :as => :hidden
        = f.input :company_name, :placeholder => "Nombre de Compañia"
        = f.input :company_message, :placeholder => "Mensaje de Compañia"
        = f.input :user_name, :placeholder => "Nombre Completo"
        = f.input :job_title, :placeholder => "Puesto de trabajo"
        = f.input :address, :placeholder => "Dirección/Otro"
        = f.input :phone, :placeholder => "Teléfono/Otro"
        = f.input :email, :placeholder => "Correo electrónico/Otro"
        = f.input :website, :placeholder => "Página web/Otro"

      .form-actions
        = f.button :submit
    .col-md-8
      .panel.panel-default.product-user-content
        #product_user_content
          #company_name.element
          #company_message.element
          #user_name.element
          #job_title.element
          #phone.element
          #address.element
          #email.element
          #website.element
          #product_user_background= image_tag @product.image.background

