= simple_form_for([@product, @product_user], :html=>{:id=>"product_user_form"}) do |f|
  = render 'layouts/error_messages', :target => f.object

  .row
    .col-md-4
      .form-inputs.drop-labels
        #current_page
        = f.input :product_id, :input_html => {:value => @product.id}, :as => :hidden
        = f.input :company_name, :placeholder => "Nombre de Compañia"
        = f.input :company_message, :placeholder => "Mensaje de Compañia"
        = f.input :user_name, :placeholder => "Nombre Completo"
        = f.input :job_title, :placeholder => "Puesto de trabajo"
        = f.input :address, :placeholder => "Dirección/Otro"
        = f.input :phone, :placeholder => "Teléfono/Otro"
        = f.input :email, :placeholder => "Correo electrónico/Otro"
        = f.input :website, :placeholder => "Página web/Otro"
        .hidden
          = f.input :image_svg

      .form-actions
        - object = t f.object.class.name.downcase
        = f.button :submit, "#{f.object.new_record? ? "Crear #{object}" : "Actualizar #{object}"}"
    .col-md-8
      .panel.panel-default.product-user-content
        #product_user_content{ :xmlns=>"http://www.w3.org/1999/xhtml"}
          #company_name.element
            .editable{:contenteditable=>'true'}
          #company_message.element
            .editable{:contenteditable=>'true'}
          #user_name.element
            .editable{:contenteditable=>'true'}
          #job_title.element
            .editable{:contenteditable=>'true'}
          #phone.element
            .editable{:contenteditable=>'true'}
          #address.element
            .editable{:contenteditable=>'true'}
          #email.element
            .editable{:contenteditable=>'true'}
          #website.element
            .editable{:contenteditable=>'true'}

          #product_user_background{:style=>"background-image: url(#{@product.image.background})"}

%div.hidden
  %canvas{:id=>"canvas", :width=>"620", :height=>"363"}
    No soportado
  %img{:id=>"img_canvas", :width=>"620", :height=>"363", :crossorigin=>"anonymous" }

