%h1 Listando Productos

%table.table.table-striped
  %tr
    %th Producto
    %th Nombre de Empresa
    %th Mensaje de Empresa
    %th Nombre de Usuario
    %th Puesto de trabajo
    %th Dirección
    %th Teléfono
    %th Email
    %th Website
    %th

  - @product_users.each do |product_user|
    %tr
      %td= product_user.product_id
      %td= product_user.company_name
      %td= product_user.company_message
      %td= product_user.user_name
      %td= product_user.job_title
      %td= product_user.address
      %td= product_user.phone
      %td= product_user.email
      %td= product_user.website
      %td= user_tools [@product, product_user]

%br

= new_tool [@product, ProductUser]
