%h1 Listing product_users

%table.table.table-striped
  %tr
    %th Product
    %th Company name
    %th Company message
    %th User name
    %th Job title
    %th Address
    %th Phone
    %th Email
    %th Website
    %th

  - @product_users.each do |product_user|
    %tr
      %td= product_user.product_id
      %td= product_user.company_name
      %td= product_user.company_message
      %td= product_user.user_name
      %td= product_user.job_title
      %td= product_user.address
      %td= product_user.phone
      %td= product_user.email
      %td= product_user.website
      %td= user_tools product_user.website

%br

= new_tool ProductUser
