.row
  .col-md-1
  .col-md-4
    .row
      %p
        El diseño escogido para
        %b #{@product_user.user_name}
        ,
        %b #{@product_user.job_title}
        de
        %b #{@product_user.company_name}
        quedaría como se muestra en la imagen de la derecha.
      - if @product_user.paper_type.present?
        %p
          %b Tipo de papel:
          = @product_user.paper_type
      .alert.alert-info
        Asegurarse de revisar la información, posteriormente no hay lugar a reclamos.
      .alert.alert-success
        Puede añadir el producto personalizado a sus pedidos haciendo click
        en el botón verde "Añadir a mis pedidos" en la parte inferior.
      %br
    .row
      .col-md-5
        = edit_tool [@product, @product_user]
        = list_tool ProductUser
      .col-md-7
        = button_to "Añadir a mis pedidos", {:controller => "cart_items",
      :action => "create", :id => @product_user.id, :product_id => @product.id, :quantity => 1},
      :class => "btn btn-success btn-block"

  .col-md-7
    .preview_content
      %img{:src=>@product_user.image_svg,
          :style=>"zoom: 0.75; -moz-transform:scale(0.75); -moz-transform-origin: 0 0; -o-transform: scale(0.75); -o-transform-origin: 0 0; -webkit-transform: scale(0.75); -webkit-transform-origin: 0 0;"}
      -# %img{:src=>"/assets/product_users/preview.jpg", :id=>"back"}
      -# %img{:src=>@product_user.image_svg, :id=>"preview",
          -# :style=>"zoom: 0.61; -moz-transform:scale(0.61); -moz-transform-origin: 0 0; -o-transform: scale(0.61); -o-transform-origin: 0 0; -webkit-transform: scale(0.61); -webkit-transform-origin: 0 0;"}

    -# = @product_user.image_svg

    -# #testdiv
      = @product_user.image_svg
