%h1 MIS PEDIDOS

- if @cart.items.present?
  = simple_form_for :product, {:url=>update_all_cart_items_path} do |f|
    %table.table.table-striped.cart-items-table
      %tr
        %th Producto
        %th Cantidad
        %th Precio
        %th Total
        %td
      - @cart.items.each do |item|
        - product       = item.product
        - product_user  = item.product_user
        %tr
          %td
            .row
              .col-md-3
                = link_to [product, product_user] do
                  = image_tag product.image.thumb
              .col-md-9
                = link_to [product, product_user] do
                  %h4= product
                %p= truncate "#{product_user.company_name} - #{product_user.user_name} - #{product_user.job_title}",
                  length: 50, separator: ' '
          %td
            .text.form-inputs= number_field_tag "product[#{item.product_user_id}][qty]", item.quantity
          %td
            .text= number_to_currency product.price
          %td
            .text= number_to_currency item.total_price
          %td
            = link_to cart_item_path(item,
              :product_id=>item.product_id,
              :product_user_id=>item.product_user_id),
              :data => { :confirm => "¿Desea eliminar el producto de sus pedidos?" },
              :method => :delete, :class=>"btn btn-danger btn-xs text" do
              %span.glyphicon.glyphicon-trash
      %tr
        %td
        %td= submit_tag "Actualizar", :class=>"btn btn-default"
        %th Subtotal
        %td.text
          %b= number_to_currency @cart.total_price
        %td
      %tr
        %td= link_to "Seguir comprando", root_path, :class=>"btn btn-default"
        %td
        %td
        %td{:colspan=>2}= link_to "Pagar", new_order_path, :class=>"btn btn-primary btn-block"
- else
  %br
  %p No tienes productos en tus pedidos.
  %br
  %p= link_to "Seguir comprando", root_path, :class=>"btn btn-default"
