%p#notice= notice

%h1= @category.name
%hr

.row
  .col-md-3
  .col-md-9
    - @products.in_groups_of(4, false) do |products|
      .row
        - products.each do |product|
          .col-md-4
            = render product

= edit_tool @category
\|
= list_tool Category
