= simple_form_for(@product) do |f|
  = f.error_notification

  .row
    .col-md-6
      .form-inputs
        = f.input :name
        = f.input :description
        = f.input :image, :as => :file
        = f.input :price
        = f.input :category_id, :collection => @categories

      .form-actions
        = f.button :submit
