= simple_form_for(@product) do |f|
  = render 'layouts/error_messages', :target => f.object

  .row
    .col-md-6
      .form-inputs
        = f.input :name
        = f.input :description
        = f.input :image, :as => :file
        .row
          = f.input :price, wrapper_html: { class: 'col-md-6' }, :label=>"Precio final"
          = f.input :previous_price, wrapper_html: { class: 'col-md-6' }, :label=>"Precio anterior"
        = f.input :category_id, :collection => @categories
        = f.input :product_model_id, :collection => @product_models

      .form-actions
        = f.button :submit
