= simple_form_for(@product) do |f|
  = render 'layouts/error_messages', :target => f.object

  .row
    .col-md-6
      .form-inputs
        = f.input :name
        = f.input :description
        = f.input :image, :as => :file
        = f.input :price
        = f.input :category_id, :collection => @categories
        = f.input :product_model_id, :collection => @product_models

      .form-actions
        = f.button :submit
