.panel.panel-default.product-listing-box
  .row
    .col-md-12
      = link_to image_tag(product.image.listing), new_product_product_user_url(product)
    .col-md-12
      %hr
    .col-md-12
      .pull-left
        %h4= number_to_currency product.price
      = link_to "Personalizar", new_product_product_user_url(product), :class=>"btn btn-primary pull-right"
  - if product.previous_price.present? and product.previous_price > 0
    .discount_tag_listing= "-#{(100 - (product.price.to_f * 100 / product.previous_price.to_f)).to_i}%"
