%h1 Listing products

%table.table.table-striped
  %tr
    %th Name
    %th Description
    %th Image
    %th Price
    %th Category
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.description
      %td= product.image
      %td= product.price
      %td= product.category_id
      %td= user_tools product

%br

= new_tool Product
