%h1 Listando productos

%table.table.table-striped#product_table
  %tr
    %th.name Nombre
    %th.description Descripción
    %th Imagen
    %th Precio
    %th.category Categoría
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= truncate product.description, :length => 120, :separator => ' '
      %td.image= image_tag product.image.thumb
      %td= number_to_currency product.price
      %td= product.category
      %td
        = user_tools product, {}, {:text=>false}
        = link_to "Personalizados", product_product_users_url(product), :class => "btn btn-info btn-sm"

%br

= new_tool Product
