%p#notice= notice
.ol.breadcrumb
  %li= link_to @product.category, @product.category
  %li.active= @product

.row
  .col-md-2
  .col-md-7
    = image_tag @product.image.detail
  .col-md-3
    %p
      %h2= @product.name
    %p
      %b A sólo #{number_to_currency @product.price}
    %p
      %b Descripción:
      %br
      = @product.description
    = link_to "Personalizar", new_product_user_path(:product_id => @product.id), :class=>"btn btn-primary"

= edit_tool @product
\|
= list_tool Product
