%p#notice= notice
.ol.breadcrumb
  %li= link_to @product.category, @product.category
  %li.active= @product

%br
.row#product_detail
  .col-md-1
  .col-md-7
    = image_tag @product.image.detail
    - if @product.previous_price.present? and @product.previous_price > 0
      .discount_tag_detail= "-#{(100 - (@product.price.to_f * 100 / @product.previous_price.to_f)).to_i}%"
  .col-md-4
    %h3= @product.name
    .row
      %h3.base_color.col-md-5 #{number_to_currency @product.price}
      - if @product.previous_price.present? and @product.previous_price > 0
        %h4.col-md-6
          %span.strike
            #{number_to_currency @product.previous_price}
    %br
    %p
      %b Descripción:
      %br
      = @product.description
    = link_to "Personalizar", new_product_product_user_path(@product.id), :class=>"btn btn-primary btn-block"

= edit_tool @product
= list_tool Product
