- if user_signed_in? and current_user.has_role? :admin
  %li= link_to 'Users', users_path
  %li= link_to 'Products', products_path
  %li= link_to 'Categories', categories_path
  %li= link_to 'Modelos', product_models_path
  %li= link_to 'Órdenes', orders_path
  %li= link_to 'Páginas', pages_path
- else
  - Page.actives.each do |page|
    %li= link_to page, page
