%li
  = link_to cart_items_path do
    = render 'shared/cart'
- if user_signed_in?
  %li.dropdown
    %a.dropdown-toggle{"data-toggle"=>"dropdown", :href=>"#"}
      %span.glyphicon.glyphicon-user
      = current_user.name
      %b.caret
    %ul.dropdown-menu
      %li
        = link_to edit_user_registration_path do
          %span.glyphicon.glyphicon-edit
          Editar cuenta
      %li
        = link_to "#{user_path current_user}#mis-pedidos" do
          %span.glyphicon.glyphicon-list-alt
          Mis pedidos
      %li
        = link_to "#{user_path current_user}#contacto" do
          %span.glyphicon.glyphicon-book
          Contacto
      - if user_signed_in? and current_user.has_role? :admin
        %li.divider
        %li= link_to 'Usuarios', users_path
        %li= link_to 'Productos', products_path
        %li= link_to 'Categorías', categories_path
        %li= link_to 'Modelos', product_models_path
        %li= link_to 'Ver pedidos', orders_path
        %li= link_to 'Páginas', pages_path
        %li= link_to 'Banners', banners_path
        %li= link_to 'Contacto', contacts_path
      - if user_signed_in? and current_user.has_role? :despacho
        %li.divider
        %li= link_to 'Ver pedidos', orders_path

      %li.divider
      %li
        = link_to destroy_user_session_path, :method=>'delete' do
          %span.glyphicon.glyphicon-off
          Cerrar sesión
- else
  %li
    = link_to new_user_session_path do
      %span.glyphicon.glyphicon-log-in
      Ingresar
  %li
    = link_to new_user_registration_path do
      %span.glyphicon.glyphicon-save
      Registrarse
