!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Card Store'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Card Store'}"}
    -# = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'shared/menu_navbar'
      .container
        = render 'layouts/messages'
        = yield
    %footer
      .container
        .well
          %ul.list-inline
            = render 'layouts/navigation_links'
            %li.pull-right.text-center
              &copy 2014 Infoservicios
              %br
              Todos los derechos reservados
